.calculator {
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #3a0fe3;
}

.calculator #display {
  width: 100%;
  margin-bottom: 3px;
  padding: 3px;
}

.calculator .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calculator button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
.calculator{
  background-color: blue;
}